{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}
    <main>
        {{ form(form)}}
    </main>
{% endblock %}
