{% extends 'base.html.twig' %}

{% block title %}Hello UserProfileController!
{% endblock %}

{% block body %}
	<main>
		<pre>
            {{ dump(user) }}
        </pre>
		<form action="{{path('app_logout')}}">
			<input type="submit" value="Déconnexion">
		</form>
	</main>
{% endblock %}
