{% extends 'base.html.twig' %}

{% block title %}ColMarket{% endblock %}

{% block body %}
    <header class="flex justify-between mt-4">
        <p class="mx-4 text-3xl">ColMarket</p>
        <div class="flex justify-evenly w-72">
            <a class="mx-1 text-lg">Accueil</a>
            <a class="mx-1 text-lg">Boutique</a>
            <p class="mx-1 text-lg">Panier</p>
    </header>
{% endblock %}
